{% extends 'base.html' %}

{% block content %}
    <div class="card">
        {% for job in jobs %}
            {% if job.status == 'active' %}
            <div>
                <h5>
                    <a href="{% url 'jobs:job_detail' job.pk %}">
                        {{ job.job_title }}
                        <span>{{ job.status }}</span>
                    </a>
                </h5>
                <h6>Budget: {{ job.price }}</h6>
                <h6>Posted: {{ job.date_created }}</h6>
                <p>{{ job.job_description|truncatechars:80 }}</p>
                <div sytle="position: relative;">
                    {% for tag in job.tags.all %}
                    <span>{{ tag }}</span>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <tr>
                <td>No job matching your interests right now.</td>
            </tr>
        {% endfor %}

        {% if is_paginated %}
            <div>
                <span>
                    {% if page_obj.has_previous %}
                        <a href="/jobs?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                <span>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }
                </span>
                {% if page_obj.has_next %}
                    <a href="/jobs?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}

